<!-- Once user has logegd in, they see this home page  -->

<!-- CSS Style  -->
<style>
  button {
    display: block;
  }

  .center {
  text-align: center;
  }

  </style>
<!-- End of CSS Style  -->

<!-- Navigation Toolbar  -->
<mat-toolbar style="background-color:DodgerBlue;" [ngClass]="{'dark-theme-mode':isDarkTheme}">

  <!-- Ttile based on logged in placeholder user  -->
  <span style="color:gold;">HELIUS</span>
  
  <!-- Fix getting Name for the title of the Nav Bar -->
  <!-- <span *ngIf="let name of currentUser | async">{{name.email}}</span> -->
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
  

</button><mat-menu #menu="matMenu" [ngClass]="{'dark-theme-mode':isDarkTheme}">
  <button mat-menu-item (click)="showHome()" class="btn home">Home</button>
  <button mat-menu-item (click)="showProfile()" class="btn profile">Profile</button>
  <button mat-menu-item (click)="showWallet()" class="btn wallet">Wallet</button>
  <button mat-menu-item (click)="showHistory()"class="btn history">History</button>
  <button mat-menu-item (click)="showMarket()"class="btn market">Market</button>
  <button mat-menu-item (click)="logout()">Logout</button>
  
</mat-menu>
<span style="flex:auto"></span>
<mat-slide-toggle style="color:gold;">Dark Theme</mat-slide-toggle>
</mat-toolbar>
 <!-- End of Navigation Toolbar  -->

<!-- Button Activation for diffrent sections -->
<div id="home" *ngIf="Home">
  <app-home></app-home>
</div>

<div id="profile" *ngIf="Profile">
  <app-profile ></app-profile>
</div>

<div id="wallet" *ngIf="Wallet">
  <app-wallet></app-wallet>
</div>

<div id="history" *ngIf="History">
  <app-history></app-history>
</div>

<div id="market" *ngIf="Market">
  <app-market></app-market>
</div>

<!-- For Debugging -->
<!-- <span class="example-spacer" *ngFor="let name of Users | async">UID: {{uid}} kWh</span> -->


<!-- Templete for reading from Firebase
<li class="text" *ngFor="let name of Users | async">
  {{name.name}}
</li>
End of template for reading from Firebase-->


<!-- Navigation Toolbar  
<button (click)="showHome()" class="btn home">Home</button>
<button (click)="showProfile()" class="btn profile">Profile</button>
<button (click)="showWallet()" class="btn wallet">Wallet</button>
<button (click)="showHistory()"class="btn history">History</button>
<button (click)="showMarket()"class="btn market">Market</button>

-->


