<!--This is the main HTML of the Login Page -->

<!--CSS Styles for centering -->
<style>
  .container { 
    height: 100px;
    position: relative;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .center {
  text-align: center;
  }
  </style>
<!--end of CSS Styles for centering -->


<!--Title of page -->
<div class="container">
  <div class="center">
    <h1>Welcome to Helius!</h1>
  </div>
</div>
<!--End of Title of page -->


<!-- Templete for reading from firestore
<ul>
  <li class="text" *ngFor="let name of Users | async">
    {{name.name}}
  </li>
</ul>
End of template for reading from firestore--> 



<!--Sign in component -->
<div class="center" *ngIf="!isSignedIn">
  <h2>Sign In</h2>
  <input type="text" value="test@helius.com" #email/>
  <input type="text" value="123456" #password/>
  <button (click)="onSignin(email.value,password.value)">Sign In</button>
</div>
<!--End of Sign in component -->

<!--Logout Handler -->
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
<!--End of Logout Handler -->



