<!doctype html>
<html color="primary">

<head>
<meta charset="utf-8">
</head>


<!-- Table that stores energy postings -->
  <!-- <table> -->
    <!-- <thead> -->
      <!-- <th>Seller</th> -->
      <!-- <th>Quantity</th> -->
    <!-- </thead> -->
    <!-- <tbody> -->
      <!-- <tr *ngFor="let posting of postings"> -->
        <!-- <td>{{posting.user_name}}</td> -->
        <!-- <td>{{posting.Energy}}</td> -->
        <!-- <td> -->
            <!-- <button>Buy</button> -->
        <!-- </td> -->
      <!-- </tr> -->
    <!-- </tbody> -->
  <!-- </table> -->


  <!-- Marketplace table -->
<table mat-table color="primary" [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Seller Column -->
  <ng-container matColumnDef="user_name">
    <th mat-header-cell *matHeaderCellDef> Seller </th>
    <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="Energy">
    <th mat-header-cell *matHeaderCellDef> Energy </th>
    <td mat-cell *matCellDef="let element">{{element.Energy}} <button  mat-raised-button color="warn" (click)="buyEnergy(element.user_name, element.Energy)" >Buy</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<!--  /////////////////////////START DEVELOPMENT AND TESTING ////////////////////////////////////////// -->

<!-- Posting Utilities -->
<h1>Testing Utilities</h1>
<h2>Posting Tools</h2>
<button mat-raised-button color="primary" (click)="addPosting()">Add Post</button>
<br>

<!-- Blockchain Utilities-->
<h2>BlockChain Tools</h2>
<button mat-raised-button color="primary" (click)="loadChain()">Load Chain</button>
<button mat-raised-button color="primary" (click)="connectToNetwork()">Connect to v4 Network</button>
<br>

<!-- Solar Production Utilities-->
<h2>Solar Production Tools</h2>
<button mat-raised-button color="primary" (click)="postProduction()">Post Production</button>
<button mat-raised-button color="primary" (click)="calcSumProductionArray()">Sum Production Array</button>
<button mat-raised-button color="primary" (click)="cleanProdArray()">Clean Production Array</button>
<br>

<!-- Data Viz-->
<h2>Data Visualizations</h2>
<div *ngFor="let chain of Chain">
  CHAIN: {{chain | json}}
</div>
<div *ngFor="let prod of Production">
  PRODUCTION: {{prod | json}}
</div>

<!-- Other Viz -->
<h2>Testing Visualizations</h2>
<div >Sum of Production Array = {{ProductionArraySum}}</div>
<div >Current user = {{currentUser}}</div>


<!-- DEPRECATED -->

<!-- <button mat-raised-button color="primary" (click)="loadProduction()">Load Production data</button> -->
<!-- <button mat-raised-button color="primary" (click)="newTransaction()">Post Chain</button> -->
<!-- <button mat-raised-button color="primary" (click)="passUid(uid.uid)">Passit!</button> -->
<!-- <div >Uid = {{uid2}}</div> -->
<!-- Basic examples of reading from firebase-->
<!-- <p>Todays date is: {{myDate | date:'shortDate'}} </p> -->
<!-- <span class="example-spacer" *ngFor="let name of Users | async">Your expected prodiction today is {{name.prod}} kWh</span> -->
<!-- <span class="example-spacer" *ngFor="let name of Users | async">Your expected prodiction today is {{name.cons}} kWh</span> -->
<!-- <span class="example-spacer" *ngFor="let name of Users | async">Your expected surplus today is {{name.prod - name.cons}} kWh</span> -->
<!-- <span class="example-spacer" *ngFor="let name of Users | async">Wallet: {{name.wallet}} </span> -->

<!--  /////////////////////////END DEVELOPMENT AND TESTING ////////////////////////////////////////// -->