<!--This is the main HTML of the page-->
<div>
  <h1>Welcome to Helius!</h1>
</div>
<div *ngIf="!isSignedIn">
  <h2>Sign Up</h2>
  <input type="text" #emailSignup/>
  <input type="text" #passwordSignup/>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign Up</button>
</div>
<hr>
<div *ngIf="!isSignedIn">
  <h2>Sign In</h2>
  <input type="text" #email/>
  <input type="text" #password/>
  <button (click)="onSignin(email.value,password.value)">Sign In</button>
</div>

<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
