<!--This is the main HTML of the Login Page-->
<div>
  <h1>Welcome to Helius!</h1>
</div>

<!--This is from movie example for testing

TODO
- not reading the data from django
-->

<div>
  <h2>Movie Listing Test!</h2>
<ul>
  <!-- *ngFor is for accessing component data in angular -->
  <li *ngFor="let movie of movies">
    <h1>{{movie.title}}</h1>
  </li>
</ul>
</div>


<!--Sign up functionality
TODO
- not working at all
-->

<!-- 
<div *ngIf="!isSignedIn">
  <h2>Sign Up</h2>
  <input type="text" #emailSignup/>
  <input type="text" #passwordSignup/>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign Up</button>
</div>
-->
<!--Sign in functionality
TODO
- password not hidden
-->

<hr>
<div *ngIf="!isSignedIn">
  <h2>Sign In</h2>
  <input type="text" value="test@helius.com" #email/>
  <input type="text" value="123456" #password/>
  <button (click)="onSignin(email.value,password.value)">Sign In</button>
</div>


<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
